<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		>

	<targets>
		<target xsi:type="File" name="fileTarget" filename="C:\Log\${machinename}-${local-ip}-mylambda-${date:format=yyyy-MM-dd}.txt" layout="${longdate}|${level:uppercase=true}|${local-ip}|${callsite}|${message}"></target>
		<target name="console" xsi:type="Console" layout="${level:uppercase=true}|${callsite}|${message}" />

		<target name="aws" type="AWSTarget" />
	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="console" />
		<logger name="*" minlevel="Trace" writeTo="fileTarget" />
	</rules>

</nlog>