<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		>

	<targets>
		<target name="aws"
				xsi:type="AWSTarget"
				logGroup="aws/lambda/WeyneLoggingWithNLog"
				region="us-east-1"
				layout="
               -------------- ${level} (${longdate}) --------------${newline}
                ${newline}
                Call Site: ${callsite}${newline}
                Exception Type: ${exception:format=Type}${newline}
                Exception Message: ${exception:format=Message}${newline}
                Stack Trace: ${exception:format=StackTrace}${newline}
                Additional Info: ${message}${newline}" />
		<target xsi:type="File" name="fileTarget" filename="C:\Log\${machinename}-${local-ip}-funcClockoutListDrivers-${date:format=yyyy-MM-dd}.txt" layout="${longdate}|${level:uppercase=true}|${local-ip}|${callsite}|${message}|${exception:format=tostring}"></target>

		<target name="aws" type="AWSTarget" />
	</targets>
	<rules>
		<!--Skip Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="*" minlevel="Trace" writeTo="fileTarget" />
		<logger minlevel="Error" name="*" writeTo="aws"/>
	</rules>

</nlog>